:root{
--soft-red: hsl(7, 99%, 70%);
--yellow: hsl(51, 100%, 49%);
--dark-cyan: #90d4c5;
--dark-blue: hsl(198, 62%, 26%);
--background-blue: hsl(200, 100%, 62%);
--dark-moderate-cyan: hsl(167, 40%, 24%);
--very-blue: hsl(212, 27%, 19%);
--very-dark-grayish-blue: hsl(213, 9%, 39%);
--dark-grayish-blue: hsl(232, 10%, 55%);
--grayish-blue: hsl(210, 4%, 67%);
--white: hsl(0, 0%, 100%);
--main-font:'Barlow', sans-serif;
--secundary-font:'Fraunces', serif;
}
body{
    font-size: 18px;
    font-family: var(--main-font);
    background-color: var(--background-blue);
    margin: 0 auto;
    scroll-behavior: smooth;
}

#header {
    background-image:url(images/desktop/image-header.jpg);
    width: auto;
    height: 635px;
    background-size: cover;
    background-position: center;
}

#navbar{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}

.logo {
    color: var(--white);
    font-family: var(--main-font);
    font-size: 30px; 
    font-weight: 700; 
    margin-left: 10px;  
}

#menu > a{
    color: var(--white);
    text-decoration: none;
    font-family: var(--main-font);
    padding: 25px;
    margin-right: 10px;
}

.menu-link:hover{
    font-size: 110%;
    font-weight: 600;
}

#main{
    display: flex;
    justify-content: center;
    font-family: var(--secundary-font);
    font-size: 30px;
    color: var(--white);
    letter-spacing: 7px;
    text-align: center;
}

#arrow{
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
}

.button{
    text-decoration: none;
    color: black;
    font-family: var(--secundary-font);
    font-size: 15px;
    width: 130px;
    height: 45px;
    background-color: var(--white);
    border-style: none;
    border-radius: 50px;
    text-transform: uppercase;
    cursor: pointer;
}

.button:hover{
background-color: rgb(255, 255, 255, 0.4);
color: var(--white);
}

#grid1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    background-color: var(--white);
}

.paragraph1{
    color: var(--grayish-blue);
    font-family: var(--main-font);
    font-weight: 600;
}

.fck{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 50%;
    margin-left: 150px;
}

.grid-1 > h2{
    font-size: 40px;
    font-family: var(--secundary-font);
    font-weight: 800;
}

.link1 {
    text-decoration-color: var(--yellow);
    text-decoration-thickness: 4px;
    color: black;
    font-family: var(--secundary-font);
    font-weight: 800;
    font-size: 14px;
}

.link2 {
    text-decoration-color: var(--soft-red);
    text-decoration-thickness: 4px;
    color: black;
    font-family: var(--secundary-font);
    font-weight: 800;
    font-size: 14px;
}

.link1:hover{
    font-size: 16px;
}

.link2:hover{
    font-size: 16px;
}

.egg-img > img{
    width: 100%;
    height: 100%;
}

#grid2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    background-color: var(--white);
}

.pink-cup > img {
    width: 100%;
    height: 100%;
}

.grid-2 > h2{
    font-size: 40px;
    font-family: var(--secundary-font);
    font-weight: 800;
}

#grid3{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    height: 560px;
}


.graphic-h3, .graphic-p, .photography-h3, .photography-p{
    position: relative;
    bottom: 250px;
    text-align: center;
}

.graphic-h3, .photography-h3{
    font-family: var(--secundary-font);
    font-size: 30px;
}

.graphic-p, .photography-p{
    position: relative;
    width: 50%;
    left: 170px;
    line-height: 30px;
    font-size: 16px;
    font-weight: 600;
}

.graphic-h3, .graphic-p{
    color: var(--dark-moderate-cyan);
}

.photography-h3, .photography-p{
    color: var(--dark-blue);
}

.cup-grid3{
    width: 100%;
    height: 560px;
}

.orange-grid3{
    width: 100%;
    height: 560px;
}

.testimonials-title{
    display: flex;
    justify-content: center;
    background-color: var(--white);
}

.testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
}

#testimonials {
    display: flex;
    justify-content: center;
    background-color: var(--white);
    padding: 100px;
}

.client1, .client2, .client3{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.test-img{
    width: 12vh;
    position: relative;
    left: 150px;
    border-radius: 50px;
    top: 20px;
}

.paragraph{
    text-align: center;
    font-size: 17px;
    line-height: 30px;
    color: var(--dark-grayish-blue);
}

.span, .span2{
    text-align: center;
}

.testimonials-title > h3 {
    font-size: 25px;
    font-family: var(--secundary-font);
    letter-spacing: 7px;
    color: var(--grayish-blue);
    position: relative;
    top: 30px;
}

.span{
    font-family: var(--secundary-font);
    font-weight: 900;
    position: relative;
    top: 30px;
}

.span2{
    font-family: var(--main-font);
    color: var(--dark-grayish-blue);
    font-size: 15px;
    position: relative;
    bottom: 60px;
}

#grid4{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

#grid4 > img{
    width: 100%;
}

.foote-links, .icons, .attribution{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.link{
    color: var(--dark-moderate-cyan);
    text-decoration: none;
    padding: 10px 30px 10px 30px;
    font: var(--main-font);
    font-weight: 600;
}
.link:hover{
    color: var(--white);    
}


.icon-link{
    padding: 15px;
    position: relative;
    bottom: 30px;
}

.img-icon:hover{
    color: white;
}

#footer > h3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: 900;
    color: var(--dark-moderate-cyan);
    position: relative;
    top: 30px;
}

#footer{
    background-color: var(--dark-cyan);
    height: 300px;
    border: 1px var(--dark-cyan) solid;
}

.attribution{
    background-color: var(--dark-cyan);
    border: 1px var(--dark-cyan) solid;
    color: var(--dark-moderate-cyan);
}

.attribution > a {
    text-decoration: none;
}